# Configuration DB
DB_HOST=aws-1-eu-west-1.pooler.supabase.com
DB_NAME=postgres
DB_USER=your_user_here
DB_PASSWORD=your_password_here
DB_PORT=5432
DB_SSLMODE=require

# Configuration Application
APP_PASSWORD=password
